* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

.container {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.title {
	padding-right: 6em;
}

.title h1 {
	color: var(--very-dark-magenta);
	margin-right: 4em;
}

.title p {
	color: var(--dark-grayish-magenta);
	margin-top: .5em;
}

.ratings {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.rate-column {
	width: 80%;
	color: var(--very-dark-magenta);
	font-weight: 700;
	background-color: var(--light-grayish-magenta);
	padding: 1em 2em;
}

.rate-column img {
	margin: 0 .1em;
}

.rate-column img:last-child {
	margin-right: 1.2em;
}

.rate-column:nth-child(2) {
	align-self: center;
}

.rate-column:nth-child(3) {
	align-self: flex-end;
}

.testimonials {
	grid-column: 1/3;
}